<div class="container2">
  <img class="wave" src="assets/img/wave.png">
  <h2>Register</h2>
</div>
<div class="container1">
  <form action="." method="post" class="registerform" [formGroup]="formRegister" (ngSubmit)="registProcess()">
    <!--userform-->
    <label for="email">Email*</label>
    <input id="email" type="email" formControlName="email">
    <label for="username">Username*</label>
    <input id="username" type="text" formControlName="username">
    <label for="first_name">First name*</label>
    <input id="first_name" type="text" formControlName="first_name">
    <label for="last_name">Last name*</label>
    <input id="last_name" type="text" formControlName="last_name">
    <label for="password">Password*</label>
    <input id="password" type="password" formControlName="password">
    <label for="password_confirm">Password Confirmation*</label>
    <input id="password_confirm" type="password" formControlName="c_password">
    <label for="height">Height(cm)*</label>
    <input id="height" type="number" formControlName="altura">
    <label for="weight">Weight(kg)*</label>
    <input id="weight" type="number" formControlName="peso">
    <label for="age">Age*</label>
    <input id="age" type="number" formControlName="idade">
    <label for="sex">Sex*</label>
    <select id="sex" formControlName="sexo">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value=""></option>
    </select>
    <label for="objective">Objective*</label>
    <select id="objective" formControlName="objetivo">
      <option value="gain">Gain Weight</option>
      <option value="lose">Lose Weight</option>
      <option value="maintain">Maintain Weight</option>
      <option value=""></option>
    </select>
    <label for="activity">Activity*</label>
    <select id="activity" formControlName="atividade">
      <option value="none">Little to no exercise</option>
      <option value="light">Light exercise (1–3 days per week)</option>
      <option value="moderate">Moderate exercise (3–5 days per week)</option>
      <option value="heavy">Heavy exercise (6–7 days per week)</option>
      <option value="very_heavy">Very heavy exercise (twice per day, extra heavy workouts)</option>
      <option value=""></option>
    </select>

    <div class="form-group">
      <a routerLink="login">Already have an account?</a>
      <input type="hidden" name="next" value="/daily/">
      <input type="submit" class="btn" value="Confirm">
    </div>
  </form>
</div>
<!--<script type="text/javascript" src="{% static 'js/functions.js' %}"></script>-->
