table.table.table-bordered.table-condensed.table-hover{
  border-collapse: collapse;
  font-size: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to left, #e6e9f0 0%, #eef1f5 100%);
  color: #555;
  font-family: 'Poppins', sans-serif;
}

.container-fluid{
  margin: 2%;
}
